.html {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.header {
    background-color: #0086FC;
    margin: 0px;
}
.section {
    color: black;
    padding: 10px;
}
.description {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.overview {
    margin: auto 0;
}
.icon {
    width: 30px;
    height: 30px;
}
.resume {
    border: 1px solid black;
}
.image {
    max-height: 300px;
}
.headshot {
    padding: 15px;
    margin: auto;
}
.social {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 8px 0 0 0;
    background-color: white;
}